{{!-- loggedIn users will be able to see the items saved to grid --}}

<header>
    <nav class="navbar sticky-top">
        <!-- logo -->
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="/assets/stylesheets/style.css" alt="aesthete logo" id="logo" style="max-height: 80px">
            </a>
        </div>
        <div class="h1 mt-3 dashboard-title">
            <h1> {{ username }}'s Grid </h1>
        </div>
        <div class="float-right" id="nav-links">
            <button id="logout-btn" class="btn btn-light"> Log Out </button>
        </div>
        </div>
</header>

<section class="text-center pt-2">
    <button id="add-new" class="button add-button"> + </button>
    <h2 class="pt-1"> Add a New Favorite </h2>
</section>

<!-- user's grid -->
<div class="container mt-4">
    <div class="columns">
        <div class="column">
            <img class="rounded" src={{ image_url }}>
        </div>
        <div class="column">
            <img class="rounded" src={{ image_url }}>
        </div>
        <div class="column">
            <img class="rounded" src={{ image_url }}>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <img class="rounded" src={{ image_url }}>
        </div>
        <div class="column">
            <img class="rounded" src={{ image_url }}>
        </div>
        <div class="column">
            <img class="rounded" src={{ image_url }}>
        </div>
    </div>
</div>